/* Arquivo CSS vazio */
.header-container {
  align-items: center;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.header-img {
  width: 70px;
}

.text-section {
  display: flex;
  justify-content: center;
}

p {
  font-size: 20px;
  text-align: center;
  width: 90%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 11px;
  width: 50%;
}

.gallery-card {
  align-items: center;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4 {
  
  margin-bottom: 10px;
  margin-top: 10px;
}

.gallery-img {
  width: 170px;
}

